<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img src="assets/img/logocoloreado.jpeg"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h2 class="ion-text-center">¡Bienvenido!</h2>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>
            Correo electrónico:
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-input [(ngModel)]="credenciales.correo" type="text" placeholder="usuario@correo.com"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>
            Contraseña:
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-input [(ngModel)]="credenciales.contra" type="password" ></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button expand="block" color="dark" (click)="logIn()">Inicia sesión</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h5 class="ion-text-center">¿No tienes una cuenta?</h5>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button expand="block" color="dark" [routerLink]="'/inscripcion'">Regístrate</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
