ion-img {
  border-radius: 200px !important;
  overflow: hidden;
  width: 180px;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
}

ion-content{

  --ion-background-color:#353d61;
}

ion-col{
  ion-input{
     border: solid 1px #f5756a;
  }
}

ion-row{
  ion-textarea{
     border: solid 1px #f5756a;
  }
}

