<ion-header>

  <ion-toolbar color="dark">
    <ion-buttons slot="start"> <!--Para que este al inicio de la pag-->
      <ion-back-button defaultHref = "/login"></ion-back-button>
    </ion-buttons>

    <ion-title>Registro de datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>
          Nombre:
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-input type="text" placeholder="Nombre" [(ngModel)]="usuario.nombre"></ion-input>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>
          Apellidos:
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-input type="text" placeholder="Apellidos" [(ngModel)]="usuario.apellido"></ion-input>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>
          Correo electronico
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-input type="text" placeholder="Correo" [(ngModel)]="usuario.correo"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>
          Contraseña:
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-input type="password"  [(ngModel)]="usuario.clave"></ion-input>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>
          Confirma tu contraseña:
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-input type="password"  [(ngModel)]="contra"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <h3 class="importante">Datos personales importantes</h3>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>
          Identificacion ciudadana (C.C o T.I):
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-input type="number"  [(ngModel)]="usuario.id"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>
          Fecha de nacimiento:
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-input type="date"  [(ngModel)]="usuario.f_nacimiento"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>
          Numero de celular:
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-input type="number"  [(ngModel)]="usuario.num_cel"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <a href="">Términos y condiciones del tratamiento de datos</a>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="ion-text-center">
        <ion-button expand="block" color="dark" (click)="agregarUsuario();">Enviar datos</ion-button>
    </ion-col>
  </ion-row>


</ion-grid>


</ion-content>
