/*ion-menu {
  --ion-background-color: rgb(245, 245, 245);
  --ion-text-color: #000;

  ion-toolbar {
    --background: rgb(245, 245, 245);
  }

  ion-list{
    --ion-background-color: rgb(245, 245, 245);
  }

}*/
