<ion-app>
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar color="dark">
          <ion-title>FastPass</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content color="dark">
        <ion-list >
          <ion-menu-toggle>
            <ion-item color="dark" [routerLink]="'/home'">Principal</ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item color="dark" [routerLink]="'/registro'">Gestionar viajes</ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item color="dark" [routerLink]="'/cartera'">Gestionar cartera</ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item color="dark" [routerLink]="'/actualizar-datos'">Actualizar datos</ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item color="dark" [routerLink]="'/atencion-cliente'">Atención al cliente</ion-item>
          </ion-menu-toggle>


        </ion-list>
      </ion-content>

      <ion-footer class="bar-stable">
        <ion-menu-toggle>
          <ion-item color="dark" [routerLink]="'/login'" (click)="logOut()">Cerrar sesión</ion-item>
        </ion-menu-toggle>
    </ion-footer>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-app>
