<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Actualizar Datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid >
    <ion-row>
      <ion-col size="8">
        <h1>Actualización</h1>
      </ion-col>
      <ion-col size="4">
        <ion-img [src]='logo'></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-img [src]="perfil"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="datos">
        <h3>Correo electronico </h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3>{{usuario.correo}} </h3>
      </ion-col>
    </ion-row>

    <ion-row class="datos">
      <ion-col>
        <h3>Número de telefono </h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3>{{usuario.num_cel}} </h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button expand="block" color="dark" >Actualizar Datos</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>




</ion-content>
