<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid >
    <ion-row>
      <ion-col size="8">
        <h1>Mis viajes</h1>
      </ion-col>
      <ion-col size="4">
        <ion-img [src]='logo'></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item *ngFor="let viaje of viajes" [routerLink]="['/registro', viaje.id]">
      {{viaje.servicio}}
    </ion-item>

  </ion-list>

</ion-content>
